@media all and (min-width:760px){
body{
    box-sizing: border-box;
    width: 0 ,auto;
    height: 0, auto;
    margin: 5% 10%;
    background-color: rgb(0, 0, 0);
    border: 2px solid white;
}
body main{
    background-color: rgb(228, 247, 249);
}
nav{
    background-color: rgba(0, 255, 255, 0.327);
    display: grid;
    margin: 10px;
    height: 0, auto;
    border-radius: 4px;
    box-shadow: 4px -5px 15px rgb(255, 0, 0) ,-4px 5px 15px rgb(0, 213, 255);;
    
}
nav #logo{
    height: 70px;
    width:230px;
    margin: 10px;
    border: 5px solid red;
    border-radius: 10px;
    position: absolute;
    box-shadow: 4px 5px 6px rgba(0, 240, 228, 0.915) ,-4px 5px 60px rgb(234, 0, 255); 
    
}
nav #logo:hover{
    box-shadow: 4px 5px 15px rgb(212, 255, 0);
}
nav #navli li{
    float: right;
    background-color: beige;
    padding: 20px;
    margin: 10px;
    list-style-type: none;
    border-radius: 5px;
    box-shadow: 4px 5px 60px gray ,inset 4px 5px 60px rgba(255, 166, 0, 0.358);
}
nav #navli li:hover{
    box-shadow: 4px 5px 15px red;
}
img{
    width: 175px;
    position: relative;
    display: inline-block;
    margin: 10px;
    box-shadow: 8px -4px 5px lightblue;
 
}
img:hover{
    color: aqua;
    box-shadow: 8px -4px 5px rgb(238, 119, 7);
}

#img1{
float: right;
margin: 10px;
box-shadow: 8px -4px 5px lightblue;
 
}
#heading{
    text-align: center;
    margin: 10px 10px;
    padding: 4px 5px;
    border: 2px solid rgb(182, 234, 255);
    box-shadow: 5px 3px 5px lightpink;
    border-radius: 40px;
}
#heading::selection{
    color: red;   
    background-color: aqua;
}
b{
    color:violet;
}
b::selection{
    color: red;   
    background-color: aqua;
}
li::selection{
    color: red;   
    background-color: aqua;
}
li{
    font-size: 20px;
    text-transform: capitalize;
}
#profileNm,h2{
    /* border: 2px solid red; */
    box-shadow: -5px 3px 5px lightpink;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    
}
#Profile{
    padding: 5px;
    margin: 7px;
    font-size: 20px;
}
div{
    /* background-color: greenyellow; */
    margin: 10px;
    width: 64px;
    height: 10px;
    display: inline-block;
    border-radius: 30px;
    /* box-shadow: 5px 3px 5px lightpink; */
  
}
footer{
    background-color: rgb(87, 87, 87);
}
#child1{
   
    /* border: 1px solid rgb(0, 255, 110); */
    /* background-color: greenyellow; */
    position: relative;
    animation-name: move;
    animation-duration: 13s;
    color: rgb(254, 18, 132);
    animation-iteration-count: infinite;
   animation-timing-function: steps(20);
   
    
}
@keyframes move {
    0%{
        left:0px ;
    }
    10%{
        left:50px;
    }
    20%{
        left:100px;
    }
    30%{
        left:150px;
    }
    40%{
        left:200px;
    }
    50%{
        left:150px;
    }
    60%{
        left:100px;
    }
    70%{
        left:50px;
    }
    80%{
        left:0px;
    }
    90%{
        left:0px;
    }
    
   
    
}
#child2{

    /* border: 1px solid red; */
    color: rgb(15, 195, 235);
    position: relative;
    /* background-color: rgb(255, 71, 47); */
    animation-name: move;
    animation-duration:13s;
    animation-iteration-count: infinite;
   animation-timing-function: steps(60);
}
#child3{
 
    color: rgb(255, 14, 174);
    /* border: 1px solid rgb(0, 221, 255); */
    position: relative;
    /* background-color: rgb(31, 188, 228); */
    animation-name: move;
    animation-duration: 13s;
    animation-iteration-count: infinite;
   animation-timing-function: steps(40);
}
#child4{
    /* background-color: rgb(255, 47, 54); */
    color: rgb(250, 13, 13);
    /* border: 1px solid red; */
    position: relative;
    animation-name: move;
    animation-duration: 13s;
    animation-iteration-count: infinite;
   animation-timing-function: steps(20);
}
}

@media only screen and (min-width:360px){
    body{
        box-sizing: border-box;
        width: 0 ,auto;
        height: 0, auto;
        margin: 5% 10%;
        background-color: rgb(0, 0, 0);
        border: 2px solid white;
    }
    body main{
        background-color: rgb(228, 247, 249);
    }
    nav{
        background-color: rgba(0, 255, 255, 0.327);
        display: grid;
        margin: 10px;
        height: 0, auto;
        border-radius: 4px;
        box-shadow: 4px -5px 15px rgb(255, 0, 0) ,-4px 5px 15px rgb(0, 213, 255);;
        
    }
    nav #logo{
        height: 70px;
        width:230px;
        margin: 10px;
        border: 5px solid red;
        border-radius: 10px;
        box-shadow: 4px 5px 6px rgba(0, 240, 228, 0.915) ,-4px 5px 60px rgb(234, 0, 255); 
        
    }
    nav #logo:hover{
        box-shadow: 4px 5px 15px rgb(212, 255, 0);
    }
    nav #navli li{
        display: inline-block;
        background-color: beige;
        padding: 20px;
        margin: 10px;
        list-style-type: none;
        border-radius: 5px;
        box-shadow: 4px 5px 60px gray ,inset 4px 5px 60px rgba(255, 166, 0, 0.358);
    }
    nav #navli li:hover{
        box-shadow: 4px 5px 15px red;
    }
    img{
        width: 175px;
        position: relative;
        display: inline-block;
        margin: 10px;
        box-shadow: 8px -4px 5px lightblue;
     
    }
    img:hover{
        color: aqua;
        box-shadow: 8px -4px 5px rgb(238, 119, 7);
    }
    
    #img1{
    float: right;
    margin: 10px;
    box-shadow: 8px -4px 5px lightblue;
     
    }
    #heading{
        text-align: center;
        margin: 10px 10px;
        padding: 4px 5px;
        border: 2px solid rgb(182, 234, 255);
        box-shadow: 5px 3px 5px lightpink;
        border-radius: 40px;
    }
    #heading::selection{
        color: red;   
        background-color: aqua;
    }
    b{
        color:violet;
    }
    b::selection{
        color: red;   
        background-color: aqua;
    }
    li::selection{
        color: red;   
        background-color: aqua;
    }
    li{
        font-size: 20px;
        text-transform: capitalize;
    }
    #profileNm,h2{
        /* border: 2px solid red; */
        box-shadow: -5px 3px 5px lightpink;
        padding: 4px;
        margin: 4px;
        display: inline-block;
        
    }
    #Profile{
        padding: 5px;
        margin: 7px;
        font-size: 20px;
    }
    div{
        /* background-color: greenyellow; */
        margin: 10px;
        width: 64px;
        height: 10px;
        display: inline-block;
        border-radius: 30px;
        /* box-shadow: 5px 3px 5px lightpink; */
      
    }
    footer{
        background-color: rgb(87, 87, 87);
    }
    #child1{
       
        /* border: 1px solid rgb(0, 255, 110); */
        /* background-color: greenyellow; */
        position: relative;
        animation-name: move;
        animation-duration: 13s;
        color: rgb(254, 18, 132);
        animation-iteration-count: infinite;
       animation-timing-function: steps(20);
       
        
    }
    @keyframes move {
        0%{
            left:0px ;
        }
        10%{
            left:50px;
        }
        20%{
            left:100px;
        }
        30%{
            left:150px;
        }
        40%{
            left:200px;
        }
        50%{
            left:150px;
        }
        60%{
            left:100px;
        }
        70%{
            left:50px;
        }
        80%{
            left:0px;
        }
        90%{
            left:0px;
        }
        
       
        
    }
    #child2{
    
        /* border: 1px solid red; */
        color: rgb(15, 195, 235);
        position: relative;
        /* background-color: rgb(255, 71, 47); */
        animation-name: move;
        animation-duration:13s;
        animation-iteration-count: infinite;
       animation-timing-function: steps(60);
    }
    #child3{
     
        color: rgb(255, 14, 174);
        /* border: 1px solid rgb(0, 221, 255); */
        position: relative;
        /* background-color: rgb(31, 188, 228); */
        animation-name: move;
        animation-duration: 13s;
        animation-iteration-count: infinite;
       animation-timing-function: steps(40);
    }
    #child4{
        /* background-color: rgb(255, 47, 54); */
        color: rgb(250, 13, 13);
        /* border: 1px solid red; */
        position: relative;
        animation-name: move;
        animation-duration: 13s;
        animation-iteration-count: infinite;
       animation-timing-function: steps(20);
    }
    }